$accent-primary: #f00;
$accent-primary-light: lighten(#f00, 10);
$accent-secondary: #fc2;
$accent-secondary-light: #ffd240;
$background-header: url(https://morbotron.com/gif/S03E10/608190/612361.gif?b64lines=Q2hhbmdlCnBsYWNlcyE=) center center;
$font-headline: sans-serif;
$background-code: #010107;
$text-code: #ccc;
