/***
 * Main Footer
 *
 * Just a quick signoff.
 *
 * html:
 *    <footer class="footer-main">
 *      <p>Created using <a href="https://github.com/jhereg00/autoguide" target="_blank">Autoguide</a>.</p>
 *    </footer>
 *
 * fullWidth: true
 */
.footer-main {
  @include small;
  padding: $vr $wr;
  background: $background-footer;

  @if (lightness($background-footer) < 55) {
    color: $text-inverted;
  } @else {
    color: $text-subtle;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}
