/***
 *  Main Header
 *
 *  Simple fixed header with the controls.
 *
 *  html:
 *    <header class="ag-header-main">
 *      <div class="ag-header-main__inner">
 *        <h1 class="ag-header-main__title">Styleguide</h1>
 *      </div>
 *    </header>
 */
.ag-header-main {
  background: $bg-header;
  padding: $vr * 5 0 $vr * 2;
  top: 0; right: 0; left: 0;
  z-index: 8675309;
  background: linear-gradient(to bottom left, $accent-light, mix($accent-light, $accent, 50%) 25%, $accent 80%);

  @if (lightness($accent) < 55) {
    color: $text-light;
  }
}
.ag-header-main__inner {
  @include gridContainer;
}
.ag-header-main__title {
  @include super;
  @include colspan (12);
}
