{% import './_partials/varSections.njk' as varSections %}
{% import './_partials/elementSections.njk' as elementSections %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title | default('Styleguide') }}</title>
  <link rel="stylesheet" href="{{ assetPath | replace('/\/$/','') }}/css/autoguide.css">
</head>
<body>
  <div class="ag-global-container">

    {% include './_partials/nav.njk' %}

    {% for var in vars %}
      {% if varSections[var.title | lower] %}
        {{ varSections[var.title | lower](var) }}
      {% endif %}
    {% endfor %}

    {% for element in elements %}
      {{ elementSections.section(element) }}
    {% endfor %}

  </div>
</body>
</html>
