{% import './componentTemplates/_componentWrapper.njk' as component %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title | default('Styleguide') }}</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Lato:300,700|Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="{{ assetPath | replace('/\/$/','') }}/css/autoguide.css">
</head>
<body>
  <div class="page-container">
    <header class="header-main">
      <div class="header-main__inner">
        <h1 class="header-main__title">{{ title | default('Styleguide') }}</h1>
      </div>
    </header>

    <div class="container-main">
      <section class="tray">
        <div class="tray__tier tray__tier--navigation">
          <a class="tray__opener"><i class="icon-menu"></i><span class="visuallyhidden">Open Navigation</span></a>
          {% include './_partials/nav.njk' %}
        </div>
        <div class="tray__tier tray__tier--controls">
          <a class="tray__opener"><i class="icon-settings"></i><span class="visuallyhidden">Open Controls</span></a>
          {% include './_partials/controls.njk' %}
        </div>
      </section>

      <main class="content-main">
        {% for element in elements %}
          {% set parentId = '' %}
          {% if element.template %}
            {% include './componentTemplates/' + element.template + '.njk' %}
          {% else %}
            {% include './componentTemplates/default.njk' %}
          {% endif %}
        {% endfor %}
      </main>
    </div>

    <footer class="footer-main">
      {{ footerMessage | markdown | safe }}
    </footer>
  </div>

  <script>
    window.ag = window.ag || {};
    window.ag.styles = {% if styles %}["{{ styles | join('","') | safe }}"]{% else %}[]{% endif %}.concat(['{{ assetPath | replace('/\/$/','') }}/css/in-frame.css']);
    window.ag.scripts = {% if scripts %}["{{ scripts | join('","') | safe }}"]{% else %}[]{% endif %};
  </script>
  <script src="{{ assetPath | replace('/\/$/','') }}/js/autoguide.js"></script>
</body>
</html>
