$font-body: 'Lato', sans-serif !default;
$font-header: 'Droid Serif', serif !default;
$font-mono: 'Source Code Pro', monospace !default;

@mixin font-body {
  font-family: $font-body;
}
@mixin font-header {
  font-family: $font-header;
}
@mixin font-mono {
  font-family: $font-mono;
}
