<div class="controls">
  <div class="controls__group controls__group--sample-size">
    <h5 class="controls__group-header">Sample Size</h5>
    <div class="input-text">
      <input type="number" name="htmlSampleSize" id="htmlSampleSize">
    </div>
    <div class="button-group">
      <button class="button button--small button--icon-phone button-group__button js-update-input" data-update="htmlSampleSize" value="320">
        <span class="button__text">320px</span>
      </button>
      <button class="button button--small button--icon-tablet button-group__button js-update-input" data-update="htmlSampleSize" value="768">
        <span class="button__text">768px</span>
      </button>
      <button class="button button--small button--icon-desktop button-group__button js-update-input" data-update="htmlSampleSize" value="1200">
        <span class="button__text">1200px</span>
      </button>
      <button class="button button--small button-group__button js-update-input" data-update="htmlSampleSize" value="">
        <span class="button__text">Default</span>
      </button>
    </div>
  </div>
</div>
