<div class="ag-controls ag-tray__tier">
  <a class="ag-controls__opener ag-tray__tier-opener"><span class="visuallyhidden">Open Controls</span></a>

  <div class="ag-controls__group">
    <h4 class="ag-controls__group-header">Sample Size</h4>
    <a id="sizeMobile" class="button button--small ag-controls__button">Mobile</a>
  </div>

  <div class="ag-controls__group">
    <h4 class="ag-controls__group-header">Features</h4>
    <div class="toggle">
      <input type="checkbox" id="showGrids" class="toggle__checkbox">
      <label for="showGrids" class="toggle__button button--small ag-controls__button">Show Grid</label>
    </div>
    <div class="toggle">
      <input type="checkbox" id="showDev" class="toggle__checkbox" {% if showDev %}checked{% endif %}>
      <label for="showDev" class="toggle__button button--small ag-controls__button">Show Code Sections</label>
    </div>
  </div>
</div>
