{# sections for showing elements #}
{# TODO: support a type value #}

{% import './sectionComponents.njk' as components %}

{% macro section (el, parentId) %}
  {% if el.code %}
    {% set devOnly = true %}
  {% elif el.subElements %}
    {% set devOnly = true %}
    {% for se in el.subElements %}
      {% if not se.code %}
        {% set devOnly = false %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <section id="{{ parentId }}/{{ el.title | lower | replace(' ','-') }}"
    class="ag-section
      ag-section--element
      ag-section--depth-{% if el.depth %}{{ el.depth }}{% else %}1{% endif %}
      {% if devOnly %}dev-only{% endif %}">
    <div class="ag-section__inner">
      {{ components.header (el) }}

      {% if el.description %}
        <div class="ag-description">{{ el.description | markdown | safe }}</div>
      {% endif %}

      {% if el.param %}
        {{ components.params(el.param) }}
      {% endif %}

      {% if el.code %}
        {{ components.code(el.code) }}
      {% endif %}
    </div>

    {% if el.html %}
      {{ components.html(el, el.filePath | contains ('organisms') or el.filePath | contains ('layout') or el.filePath | contains ('pages')) }}
    {% endif %}

    {% if el.subElements %}
      <div class="ag-section__sub-elements">
        {% for subEl in el.subElements %}
          {{ section (subEl, (parentId if parentId) ~ '/' ~ (el.title | lower | replace(' ','-'))) }}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endmacro %}
