{# header with nice controls #}
<header class="ag-header-main">
  <div class="ag-header-main__inner">
    <h1 class="ag-header-main__title">{{ title | default('Styleguide') }}</h1>
  </div>
</header>
