{# builds the styleguide's navigation #}

{% macro elementLink (element, linkPrepend) %}
  <li class="nav-main__item">
    <a href="{{ linkPrepend }}/{{ element.title|lower|replace(' ','-') }}" class="nav-main__link nav-main__link--{{ element.title | lower | replace(' ','-') }}">
      {{ element.title | title }}
    </a>
    {% if element.subElements and element.subElements | length %}
      <ul class="nav-main__subnav">
        {% for subEl in element.subElements %}
          {{ elementLink (subEl, linkPrepend ~ '/' ~ element.title|lower|replace(' ','-')) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}

<nav class="nav-main tray__tier">
  <a class="nav-main__opener tray__tier-opener"><span class="visuallyhidden">Open Navigation</span></a>

  <ul class="nav-main__list">
    {# elements #}
    {% for element in elements %}
      {{ elementLink (element, '#') }}
    {% endfor %}
  </ul>
</nav>
