{% macro header (el) %}
  <header class="ag-section__header">
    {% if el.filePath %}
      <p class="ag-section__file-path">{{ el.filePath | join('/') }}</p>
    {% endif %}

    {% if el.depth %}
      <h{{ el.depth }}>{{ el.title | title }}</h{{ el.depth }}>
    {% else %}
      <h1>{{ el.title | title }}</h1>
    {% endif %}
  </header>
{% endmacro %}

{% macro code (content) %}
  <h4 class="ag-section__component-header">Code</h4>
  <pre class="ag-section__code"><code>
{%- raw -%}
{{ content }}
{%- raw -%}
  </code></pre>
{% endmacro %}
