{% macro header (el, titleCase) %}
  <header class="ag-section__header">
    {% if el.filePath %}
      <p class="file-path">{{ el.filePath | join('/') }}</p>
    {% endif %}

    {% if el.generated or titleCase %}
      {% set title = el.title | title | markdown | safe %}
    {% else %}
      {% set title = el.title | markdown | safe %}
    {% endif %}

    {% if el.depth %}
      <h{{ el.depth }} class="ag-section__title ag-section__title--{{ title | lower | replace(' ','-') }}">
        {{ title }}
      </h{{ el.depth }}>
    {% else %}
      <h1 class="ag-section__title ag-section__title--{{ title | lower | replace(' ','-') }}">
        {{ title }}
      </h1>
    {% endif %}
  </header>
{% endmacro %}

{% macro code (content) %}
  <h4 class="ag-component-header dev-only">Code</h4>
  <pre class="ag-component ag-component--code"><code>
{%- raw -%}
{{ content }}
{%- raw -%}
  </code></pre>
{% endmacro %}

{% macro htmlSample (title, description, content, fullWidth) %}
  {% if title or description %}
    <div class="ag-section__inner">
      {% if title %}
        <h4 class="ag-component-header">{{ title }}</h4>
      {% endif %}
      {% if description %}
        <div class="ag-description">{{ description | markdown | safe }}</div>
      {% endif %}
    </div>
  {% endif %}
  <make-iframe class="ag-component ag-component--html {% if fullWidth %}fs{% endif %}">
    {{ content | safe }}
  </make-iframe>
{% endmacro %}

{% macro html (el, fullWidth) %}
  {% if el.modifier | length %}
    {% if el.default | length %}
      {{ htmlSample (el.default[0].name, el.default[0].description, el.html, fullWidth) }}
    {% else %}
      {{ htmlSample ("Default", null, el.html, fullWidth) }}
    {% endif %}
    {% for mod in el.modifier %}
      {{ htmlSample (mod.name, mod.description, el.html | addModifier(mod.name), fullWidth) }}
    {% endfor %}
  {% else %}
    {{ htmlSample (null, null, el.html, fullWidth) }}
  {% endif %}
  <div class="ag-section__inner">
    {{ code(el.html) }}
  </div>
{% endmacro %}

{% macro arrItem (param) %}
  <div class="ag-param">
    {% if param.type %}
      <span class="ag-param__type">{{ param.type }}</span>
    {% endif %}
    {% if param.name %}
      <span class="ag-param__name">{{ param.name }}</span>
    {% endif %}
    {% if param.description %}
      <div class="ag-param__description ag-description">{{ param.description | markdown | safe }}</div>
    {% endif %}
    {{ arrays (param, true) }}
  </div>
{% endmacro %}

{% macro params (params, sub) %}
  <div class="ag-component--params">
    {% if not sub %}
      <h4 class="ag-component-header">Parameters</h4>
    {% endif %}
    {% for param in params %}
      {{ arrItem (param) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro methods (params, sub) %}
  <div class="ag-component--params">
    {% if not sub %}
      <h4 class="ag-component-header">Methods</h4>
    {% endif %}
    {% for param in params %}
      {{ arrItem (param) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro props (params, sub) %}
  <div class="ag-component--params">
    {% if not sub %}
      <h4 class="ag-component-header">Properties</h4>
    {% endif %}
    {% for param in params %}
      {{ arrItem (param) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro returns (params, sub) %}
  <div class="ag-component--params">
    {% if not sub %}
      <h4 class="ag-component-header">Returns</h4>
    {% endif %}
    {% for param in params %}
      {{ arrItem (param) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro arrays (el, sub) %}
  {% if el.param %}
    {{ params(el.param, sub) }}
  {% endif %}

  {% if el.method %}
    {{ methods(el.method, sub) }}
  {% endif %}

  {% if el.prop %}
    {{ props(el.prop, sub) }}
  {% endif %}

  {% if el.returns %}
    {{ returns(el.returns, sub) }}
  {% endif %}
{% endmacro %}
