{# sections for showing vars #}

{% import './sectionComponents.njk' as components %}

{% macro colors (el) %}
  <section id="/colors" class="ag-section ag-section--var ag-section--colors ag-section--depth-1">
    <div class="ag-section__inner">
      {{ components.header (el, true) }}
    {% for var, val in el.vars %}
      <div class="ag-swatch ag-swatch--{{ var | replace('$','') }} ag-swatch--{% if val | luminance > 0.55 %}light{% else %}dark{% endif %}" style="background-color: {{ val }}">
        <div class="ag-swatch__copy-buttons">
          <label>Copy: </label>
          <a class="copyable" data-copy="{{ val }}">Color</a>
          <a class="copyable" data-copy="{{ var }}">Variable</a>
        </div>
        <span class="ag-swatch__var-name">{{ var }}</span>
        <span class="ag-swatch__value {% if val[0] == '#' %}ag-swatch__value--hex{% endif %}">{{ val | replace(',',', ') }}</span>
      </div>
    {% endfor %}
    </div>
  </section>
{% endmacro %}
{# alias #}
{% macro color (el) %}{{ colors (el) }}{% endmacro %}

{% macro fonts (el) %}
  <section id="/fonts" class="ag-section ag-section--var ag-section--fonts ag-section--depth-1">
    <div class="ag-section__inner">
      {{ components.header (el, true) }}
    {% for var, val in el.vars %}
      {% set stack = val | split(',') %}
      <div class="ag-font ag-font--{{ var | replace('$','') }}">
        <span class="ag-font__var-name">{{ var }}</span>
        <span class="ag-font__value" style="font-family: {{ val }};">
          {{ stack[0] | replace('"','') | replace("'","") }}
        </span>
      </div>
    {% endfor %}
    </div>
  </section>
{% endmacro %}
{# alias #}
{% macro font (el) %}{{ fonts (el) }}{% endmacro %}
