{#########################################}
{# a sample of html that gets iframified #}
{#########################################}
{% macro htmlSample (title, description, content, wrap) %}
  <div class="html-sample">
    {% if title or description %}
      {% if title %}
        <h6 class="html-sample__header{% if title[0] == '.' %} html-sample__header--class-name{% endif %}">{{ title }}</h6>
      {% endif %}
      {% if description %}
        <div class="html-sample__description">{{ description | markdown | safe }}</div>
      {% endif %}
    {% endif %}
    <make-iframe class="html-sample__iframe">
      {% if wrap %}
        {{ content | wrap(wrap) | safe }}
      {% else %}
        {{ content | safe }}
      {% endif %}
    </make-iframe>
  </div>
{% endmacro %}


{###########################################}
{# a block of code, optionally collapsable #}
{###########################################}
{% macro code (content, collapsable, language) %}
  <div class="code-block {% if collapsible %}js-collapsable{% endif %}">
    {% if language or collapsable %}
      <div class="code-block__header {% if collapsable %}collapsable__toggle js-collapsable-toggle{% endif %}">
        <h6>{{ language | default('Code') }}</h6>
      </div>
    {% endif %}
    <pre class="code-block__pre {% if collapsable %}collapsable__content js-collapsable-content{% endif %}">{{ content | highlight(language) | safe }}</pre>
  </div>
{% endmacro %}


{###########################################}
{# an attribute list for code items        #}
{###########################################}
{% macro attributeList (list, name) %}
  <dl class="attribute-list attribute-list--{{ name | lower | replace(' ','-') }}">
    <h6 class="attribute-list__title">{{ name }}</h6>
    {% for item in list %}
      <dt class="attribute-list__term">
        {% if item.type %}
          <span class="attribute__type">{{ item.type }}</span>
        {% endif %}
        <span class="attribute__name">{{ item.name }}</span>
      </dt>
      <dd class="attribute-list__description">
        <div class="attribute__description">
          {{ item.description | markdown | safe }}
        </div>
        {{ attributes (item) }}
      </dd>
    {% endfor %}
  </dl>
{% endmacro %}

{###########################################}
{# make attribute lists for various vars   #}
{###########################################}
{% macro attributes (obj) %}
  {% if obj.param %}
    {{ attributeList (obj.param, 'Parameters') }}
  {% endif %}
  {% if obj.method %}
    {{ attributeList (obj.method, 'Methods') }}
  {% endif %}
  {% if obj.prop %}
    {{ attributeList (obj.prop, 'Properties') }}
  {% endif %}
  {% if obj.returns %}
    {{ attributeList (obj.returns, 'Returns') }}
  {% endif %}
{% endmacro %}
