{% extends 'nunjucks/componentTemplates/_componentWrapper.njk' %}

{% block main %}
  <strong>default</strong><br>
  {% if element.sassVars %}
    {{ dump(element.sassVars) | safe }}
  {% endif %}
{% endblock %}
