{% extends './_componentWrapper.njk' %}


{% import './_macros.njk' as macros %}


{% block main %}
  {{ macros.autoHtmlSample(element) }}
  {{ macros.code (element.html, true, 'HTML') }}
{% endblock %}
