// Global Body Styles
//

body {
  @include font-body;
  @include body;
  font-weight: 300;
  margin: 0;
  padding: $vr * 4 0 0 0; // push everything down for the fixed header
  background: $bg-body;
  color: $text-body;
}
