/***
 * Horizontal Rule
 *
 * html:
 *   <hr>
 */
hr {
  display: block;
  width: auto;
  margin: $vr * 3 $wr * 3;
  border: none;
  height: 1px;
  background: $border-html;

  @include mq ($bp-medium) {
    margin: $vr * 3 $wr * 6;
  }
}
