/***
 * Links
 *
 * html:
 *   <a href="#">Simple Default Link</a>
 */

$link-color: $accent-primary;
$hover-color: $accent-primary-light; // temp?

a {
  color: $link-color;
  transition: color $transition-time;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: $hover-color;
  }
}
